<html>
  <head></head>
  <body>
    <h1>Artists</h1>

    <% @all_artists.each do |artist|%>
        <div>
          Name: <a href="/artists/<%=artist.id%>"><%=artist.name%></a>
        </div><br>
    <% end %>

  </body>
</html>