<form method="POST" action="/albums">
  <label>Album Title:</label>
  <input type="text" name="title"><br>

  <label>Release Year:</label>
  <input type="text" name="release_year"><br>

  <label>Artist ID:</label>
    <select>
    <%@artists.each do |artist|%>
    <option><%=artist.id%></option>
    <%end%>
    </select>


  <input type="submit"><br>
</form>