<form method="POST" action="/albums">
  <label>Album Title:</label>
  <input type="text" name="title"><br>

  <label>Release Year:</label>
  <input type="text" name="release_year"><br>

  <label>Artist ID:</label>
    <select name="artist_id">

      <%@artists.each do |artist|%>
        <optgroup label="<%=artist.name%>">
          <option><%=artist.id%></option>
        </optgroup>
      <%end%>
      
    </select>


  <input type="submit"><br>
</form>